<div class="centered-div">
    <h1 style="font-size:23px; color: white;" mat-dialog-title>Editar Usuario</h1>
  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input type="text" [(ngModel)]="formData.nome" matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Endereço</mat-label>
    <input type="text" [(ngModel)]="formData.endereco" matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input type="text" [(ngModel)]="formData.email" matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Senha</mat-label>
    <input type="text" [(ngModel)]="formData.senha" matInput>
  </mat-form-field>
  <button class="editar-button" (click)="saveUser()"mat-button>SALVAR</button>
</div>